{%- # this is a placeholder section and should be replaced with your own content -%}
<div class="container py-12">
  <div class="flex flex-col items-center justify-center bg-red-100 p-8">
    <p class="text-2xl mb-5">
      This is a placeholder section being used in the <code>{{ template }}</code> template.
    </p>
    <p>Remove it and replace it with your own content.</p>
  </div>
</div>
